.line {
    height: 400px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0% 0% 50% 50%;
    margin-left: 220px;
    font-size: 20px;
    background: linear-gradient(to bottom right, black, rgb(54, 29, 54), black);
    background-size: 200% 200%;
    animation: moveColorBackground 8s infinite linear;
}

.mapi {
    height: 190px;
    width: 330px;
    position: absolute;
    left: 589px;
    top: 100px;
    border-radius: 100%;
}

.he1 {
    color: white;
    position: absolute;
    left: 270px;
    top: 300px;
    font-family: 'Georgia', serif;
}

.he2 {
    color: white;
    margin-left: -38px;
    padding-top: 10%;
    font-family: 'Georgia', serif;
}

.he3 {
    color: white;
    position: absolute;
    padding-top: 15%;

}



.mapi,
.he2,
.he3 {
    opacity: 0;
    transform: translateY(-800%);
    animation: fallIn 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes fallIn {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




.he4 {
    color: #000000;
    margin-top: 50px;
    text-align: center;
    font-weight: 1200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.he5 {
    color: black;
    margin-top: 30px;
    margin-left: 387px;
}

.me {
    height: 200px;
    width: 200px;
    border-radius: 150%;
    margin-left: 660px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.me1 {
    margin-left: 700px;
    color: black;
    font-weight: 700;
}

.me2 {
    margin-left: 710px;
    color: black;
    font-weight: 500;
    line-height: 0.5;
}

.me3 {
    margin-left: 680px;
    color: #9a00ff;
    line-height: 0.5;
    font-weight: 500;
}